<!-- event page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtEgo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <!--fixed UI until **---------------------------------------------->
  <section id = "menu-container">
    <nav id = "menu">
      <!--temporary style-->
      <style>
        #menu a{text-decoration:none;}
        #menu li{list-style:none;display:inline-block;padding:5px;}
      </style>
      <ul>
        <!-- later change to button-->
        <!--onclick=> event page-->
        <li><a href = "event.html">EVENT</a></li>
        <!--onclick=>my calendar page-->
        <li><a href = "mycalendar.html">MY CALENDAR</a></li>
        <!--onclick=>logged out main page-->
        <li><a href = "logout.html">LOG OUT</a></li>
      </ul>
    </nav>
    <!--Logo-->
    <header><h1>ArtEgo</h1></header>
  </section>
  <!-- ** -------------------------------------------------------->

  <!--code below goes into login.html-->
  <serction id = "event-container">
      <h1>EVENT</h1>
      <div class = "row">
        <div class= "col">
          <img src= "https://www.gukjenews.com/news/photo/201904/1095082_868202_5245.jpg" class = "image">
          <img src = "https://blogfiles.pstatic.net/MjAyMDExMjRfNTQg/MDAxNjA2MTQzNjc3Nzc0.H8m3ZJp6a_cRx-78coiiapGW4xNk89cldMj9w2tim6Qg.IW7otIHxe0P50WmtFxe2HIiky909cMbLqKmm3cDaal0g.JPEG.gseee0423/output_592749449.jpg" style = "width:300px" class = image>

        </div>
      </div>
  </serction>
</body>
</html>
