<!-- sign in page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ArtEgo - Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section id = "log-in-container">
    <div class ="input">
      <input id = "email" placeholder = "E-Mail Address" type ="text" size="30" value =""></input>
    </div>
    <div class = "input">
      <input id = "password" placeholder = "Password" type = "password" size ="30" value =""></input>
    </div>
    <div id = "login-button">
      <!--onclick => move on to logged in main page -->
      <form method = "get" action="login.html">
        <button id = "login-button" type = "submit" nethod = "get" action ="login.html">Log In</button>
      </form>
    </div>
  </section>
</body>
</html>
